[user]
	email = me@jesseschalken.com
	name = Jesse Schalken
[core]
	whitespace = -blank-at-eol,space-before-tab,-blank-at-eof
	editor = vim
	autocrlf = input
	filemode = false
	fsmonitor = true
	untrackedcache = true
	pager = less -+X -~FSRx4
[push]
	default = simple
	autoSetupRemote = true
[alias]
	br = -p branch -vv
	ci = commit -v
	co = checkout
	df = diff -w
	ds = diff --stat
	dw = diff --color-words
	lg = log --full-history
	ls = ls-files
	st = status
	aa = add --all
	rawlog = "log --pretty=raw --decorate --graph"
	delete-merged-branches = !git branch --merged | grep -v \"\\*\" | xargs -r git branch -d
	derp = merge --abort
	unchange = checkout HEAD --
	merge-log = "!git log \"$1^..$1\""
	unadd = restore --staged --
[color]
	branch      = true
	diff        = true
	interactive = true
	pager       = true
	status      = true
	ui          = true
[i18n]
	filesEncoding = utf-8
[merge]
	conflictStyle = zdiff3
	renameLimit = 50000
[mergetool]
	keepBackup = false
[log]
	abbrevCommit = true
	decorate     = short
	date         = iso-local
	follow = true
[format]
	pretty = format:%C(brightblue)%>(30)%an %Creset%C(brightgreen)%><(9)%h%Creset%C(brightblack)%><(28)%ad%Creset%C(normal)%s%Creset%C(brightmagenta)%d%Creset
[diff]
	wordRegex = [-A-Z._a-z0-9]+|.
	renames = copies
	renameLimit = 50000
[gui]
	diffcontext = 10
[fetch]
	prune = true
	pruneTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	short = false
	showStash = true
	submoduleSummary = false
	branch = true
	aheadBehind = true
	showUntrackedFiles = no
[pager]
	status = true
[protocol]
	version = 2
[rebase]
	instructionFormat = (%an <%ae>) %s
	autoStash = true
[init]
	defaultBranch = main
[clean]
	requireForce = false
[branch]
	sort = -committerdate
	autoSetupMerge = simple
[feature]
	manyFiles = true
