[user]
  email = me@jesseschalken.com
  name = Jesse Schalken
[core]
  autocrlf = input
  editor = vim
  pager = less --quit-if-one-screen --raw-control-chars --chop-long-lines --tabs=2
  whitespace = -blank-at-eol,-space-before-tab,-indent-with-non-tab,-tab-in-indent,-blank-at-eof,-trailing-space,-cr-at-eol
[push]
  default = tracking
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff -w
  ds = diff -w --stat
  lg = log --decorate --oneline --abbrev-commit
  ls = ls-files
  st = status
[color]
  branch      = true
  diff        = true
  interactive = true
  pager       = true
  status      = true
  ui          = true
[i18n]
  filesEncoding = utf-8
[color "branch"]
  current  = bold blue reverse
  local    = bold blue
  remote   = bold magenta
  nobranch = bold red reverse
[color "diff"]
  frag       = bold blue
  meta       = dim
  new        = bold green
  old        = bold red
  whitespace = bold red reverse
[color "status"]
  header    = normal dim
  branch    = bold blue reverse
  nobranch  = bold red reverse
  added     = bold yellow
  updated   = bold yellow
  changed   = bold green
  unmerged  = bold red
  untracked = bold red
[color "decorate"]
  branch       = bold green
  remoteBranch = bold red
  tag          = bold yellow
  stash        = bold magenta
  HEAD         = bold cyan
[merge]
  conflictstyle = diff3
  renamelimit = 10000
[mergetool]
  keepBackup = false
