[user]
	email = me@jesseschalken.com
	name = Jesse Schalken
[core]
	whitespace = blank-at-eol,space-before-tab,indent-with-non-tab,trailing-space,cr-at-eol
[push]
	default = tracking
[alias]
	br = branch -v
	ci = commit -v
	co = checkout
	df = diff -w
	ds = diff --stat
	dw = diff --color-words
	lg = log --full-history
	ls = ls-files
	st = status
	rawlog = log --pretty=raw
	delete-merged-branches = !git branch --merged | grep -v \"\\*\" | xargs git branch -d
[color]
	branch      = true
	diff        = true
	interactive = true
	pager       = true
	status      = true
	ui          = true
[i18n]
	filesEncoding = utf-8
[color "branch"]
	current  = bold blue reverse
	local    = bold blue
	remote   = bold magenta
	nobranch = bold red reverse
[color "diff"]
	frag       = bold blue reverse
	meta       = dim normal
	new        = bold green normal
	func       = bold white reverse
	old        = bold red normal
	whitespace = bold red reverse
	plain      = normal
[color "status"]
	header    = dim normal
	branch    = bold blue reverse
	nobranch  = bold red reverse
	added     = bold green
	updated   = bold green
	changed   = bold yellow
	unmerged  = bold red
	untracked = bold red
[color "decorate"]
	branch       = bold blue
	remoteBranch = bold magenta
	tag          = bold green
	stash        = bold cyan
	HEAD         = bold blue reverse
[merge]
	conflictstyle = diff3
	renameLimit = 50000
[mergetool]
	keepBackup = false
[log]
	date         = short
	abbrevCommit = true
	decorate     = short
[format]
	pretty = format:%C(yellow bold)%h%Creset %C(dim)%t%Creset %C(cyan bold)%ad%Creset %C(red bold)%p%Creset %C(magenta bold)%an%Creset %C(normal)%s%Creset%C(bold blue)%d%Creset
[pager]
	branch = true
	status = true
[diff]
	wordRegex = [a-zA-Z0-9_]+|.
	renames = copies
[gui]
	diffcontext = 10
